@charset "UTF-8";
/*VARIABLES DE ESPACIO*/
/*VARIABLES DE TEXTO*/
/*TAMA├æOS*/
.fondo {
  background-size: cover; }

.fondo-fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center; }

.fondo-1 {
  background-image: url("../img/diagrama.jpg");
  height: 550px; }

.modulo-alto {
  padding: 1em;
  min-height: 100vh;
  text-align: center;
  height: 550px;
  width: 100%; }

.pres {
  padding-top: 14%; }
  .pres h1 {
    color: #E51960; }

.text-center {
  color: #E51960;
  text-align: center;
  font-family: 'Lobster Two', cursive;
  margin-top: -8px; }

.text-center-1 {
  color: #E51960;
  font-family: 'Lobster Two', cursive;
  padding: 40px; }

.center {
  color: #3f2d58;
  text-justify: justify;
  font-size: 2em;
  font-family: "Times New Roman", Times, serif; }

.descripcion {
  font-family: 'Lobster Two', cursive;
  color: #3f2d58;
  text-justify: justify; }

#sobre-mi {
  border-top: 2px solid #E51960;
  border-bottom: 2px solid #E51960;
  padding-top: 30px; }

.demo-3 {
  position: relative;
  width: 420px;
  height: 600px;
  overflow: hidden;
  float: left;
  margin-right: 20px; }

.demo-3 figure {
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
  margin-left: -50px; }

.demo-3 figure img {
  display: block;
  position: relative;
  z-index: 1;
  margin: -15px 0; }

.demo-3 figure figcaption {
  display: block;
  position: absolute;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.demo-3 figure h2 {
  font-family: 'Lobster Two', cursive;
  color: #E51960;
  font-size: 30px;
  text-align: center;
  background-color: #0F0B0D;
  border-radius: 10px;
  width: 100%; }

.demo-3 figure p {
  display: block;
  font-family: 'Dancing Script', cursive;
  font-size: 22px;
  line-height: 18px;
  margin: 0;
  color: #0F0B0D;
  text-align: left; }

.demo-3 figure figcaption {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 29px 44px;
  background-color: #627d4d;
  text-align: center;
  backface-visibility: hidden;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s; }

.demo-3 figure img {
  backface-visibility: hidden;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s; }

.demo-3 figure:hover img, figure.hover img {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.demo-3 figure:hover figcaption, figure.hover figcaption {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  transform: rotateY(0); }

#portafolio {
  background-color: #0F0B0D;
  border-top: 2px solid #E51960;
  border-bottom: 2px solid #E51960;
  padding-top: 20px; }

.logos:hover {
  width: 30%;
  border-bottom: 2px solid #E51960;
  border-right: 1px solid #E51960; }

#sobre-mi {
  padding-bottom: 15px; }

header {
  border-bottom: 2px solid #E51960;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  z-index: 2;
  font-family: 'Lobster Two', cursive; }

.bg-black {
  background: #0F0B0D;
  height: 60px;
  border-bottom: 2px solid #E51960; }

.navbar-default {
  background-color: #0F0B0D;
  border: 0;
  border-bottom: 2px solid #E51960;
  height: 60px; }
  .navbar-default .navbar-brand {
    color: #E51960;
    font-family: 'Dancing Script', cursive; }

.navbar-default .navbar-nav > li > .menu {
  font-weight: bold;
  font-size: 1.2em; }
  .navbar-default .navbar-nav > li > .menu:hover {
    color: #E51960; }

footer {
  display: inline-block; }

.fa {
  font-size: 5.5em;
  border: 3px solid #E51960;
  background-color: #E51960;
  color: #DEDCE5;
  border-radius: 75%; }

.navbar-footer a {
  display: inline-block;
  text-align: center;
  margin-right: 120px;
  border-right: 1px solid #DEDCE5; }

.text-center {
  color: #E51960;
  text-align: center;
  font-family: 'Lobster Two', cursive; }

.text-center-3 {
  color: #E51960;
  text-align: center;
  font-family: 'Lobster Two', cursive; }

@media (min-width: 384px) and (max-width: 800px) {
  .fondo-1 {
    background-image: none;
    background-color: #0F0B0D;
    height: 360px; }

  .logos img {
    width: 40%;
    height: 40%;
    text-align: center;
    border-top: 1px solid #E51960; }

  .logos:hover {
    width: 30%;
    height: 30%; }

  .img-circle {
    height: 150px;
    width: 150px;
    text-align: center; }

  .center {
    font-size: 10px; }

  .demo-3 {
    width: 120px;
    height: 300px;
    overflow: hidden;
    float: left; }

  .demo-3 figure {
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
    position: relative;
    cursor: pointer;
    margin-left: -50px; }

  .demo-3 figure h2 {
    font-size: 9px;
    text-align: left; }

  .demo-3 figure p {
    font-size: 4px;
    display: block;
    line-height: 8px; }

  .demo-3 br {
    display: none; }

  footer .fa {
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center; } }

/*# sourceMappingURL=main.css.map */
