footer{
	display:inline-block;
}
.fa{
	font-size: 5.5em;
  border: 3px solid $cl-princ;
	background-color: $cl-princ;
	color:$white;
  border-radius:75%;
	
}
.navbar-footer a{
  display: inline-block;
  text-align: center;
  margin-right: 120px;
  border-right: 1px solid $white;
}
.text-center{
  color:$cl-princ;
  text-align:center;
  font-family: 'Lobster Two', cursive;
}

.bg-black {
  background: $black;
  height:60px;
  border-bottom: 2px solid $cl-princ;
}
.navbar-default .navbar-nav>li> .menu-meetup{
  font-weight: bold;
  font-size: 1.2em;
  &:hover{
    color: $cl-princ;
  }
}

