@media (min-width: 300px) and (max-width: 1200px){
	.fondo-1 {
           background-image:none;
           background-color:$black;
           height:360px;
       }
	.logos img{
		width:35%;
		height: 35%;
		text-align:center;
		background-size:cover;
		border-top: 1px solid $cl-princ;
		display: block;
	}
	.logos:hover{
		width:30%;
		height:20%;
	}
	.img-circle{
		height:150px;
		width: 150px;
		text-align: center;

		}
		.center{
			font-size: 10px;
		}
	    .demo-3{
			width:90%;
            height:90%;
		    overflow:hidden;
		    float:left;
		}
		.demo-3 figure {
		    margin-left:5px;
		    margin-right:5px;
		    padding:0;
		    position:relative;
		    cursor:pointer;
		    margin-left:-50px;
		    width:-75%;
            height:90%;
		}
		.demo-3 figure h2{
			font-size:20px;
			text-align:left;
		}
		.demo-3 figure p {
		    display:block;
		    font-family:'Dancing Script', cursive;
		    font-size:19px;
		    line-height:18px;
		    margin:0;
		    color:$black;
		    text-align:center;
		}
		.demo-3 br{
			display:none;
		}
	footer{
		.fa{
			width: 50px;
			height: 50px;
			font-size:40px;
			text-align: center;
		}
	}
}
