.fondo {
  background-size: cover; 
}
.fondo-fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center; 
}
.fondo-1 {
  background-image: url("../img/diagrama.jpg");
  height:550px;
}
.modulo-alto {
  padding: 1em;
  min-height: 100vh;
  text-align: center;
  height: 550px;
  width: 100%; 
}
.pres{
  padding-top:$mt-porcent;
   h1{
    color:$cl-princ;
   }
}
.text-center{
  color:$cl-princ;
  text-align:center;
  font-family: 'Lobster Two', cursive;
  margin-top:-8px;
}
.text-center-1{
  color:$cl-princ;
  font-family: 'Lobster Two', cursive;
  padding:40px;
}
.text-center-3{
  color: #E51960;
  text-align: center;
  font-family: 'Lobster Two', cursive;
}
.center{
  color:$gray;
  text-justify:justify;
  font-size: 2em;
  font-family: 'Lobster Two', cursive;
}
.descripcion{
  font-family: 'Lobster Two', cursive;
  color:$gray;
  text-justify:justify;
}
#sobre-mi{
  border-top:2px solid $cl-princ;
  border-bottom:2px solid $cl-princ;
  padding-top:30px;
}
//portfolio
.demo-3 {
    position:relative;
    width:320px;
    height:722px;
    overflow:hidden;
    float:left;
    margin-right:20px;
}
.demo-3 figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
    margin-left:-50px;
}
.demo-3 figure img {
    display:block;
    position:relative;
    z-index:1;
    margin:-15px 0;
}
.demo-3 figure figcaption {
    display:block;
    position:absolute;
    z-index:1;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.demo-3 figure h2 {
    font-family:'Lobster Two', cursive;
    color:$cl-princ;
    font-size:30px;
    text-align:center;
    background-color:$black;
    border-radius:10px;
    width:100%;
}
.demo-3 figure p {
    display:block;
    font-family:'Dancing Script', cursive;
    font-size:22px;
    line-height:18px;
    margin:0;
    color:$black;
    text-align:left;
}
.demo-3 figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:29px 44px;
    background-color:$verde;
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
}
.demo-3 figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
}
.demo-3 figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg);
}
.demo-3 figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0);
}
#portfolio{
  background-color:$black;
  border-top:2px solid $cl-princ;
  border-bottom:2px solid $cl-princ;
  padding-top:20px;
}
.html{
  float:left;
}
.logos:hover{
  width:30%;
  border-bottom:2px solid $cl-princ;
  border-right:2px solid $cl-princ;
}
#sobre-mi{
  padding-bottom:15px;
  
}