$gris-claro: #645E64;
$amarillo: #FEE123;
$gris-oscuro: #383337;
$black: #0F0B0D;
$white: #DEDCE5;
$cl-princ:#E51960;
$mg-btm:7%;
$pink: #e51960;
$turquesa: #277182;
$gray: #3f2d58;
$cl-belleza: #B61339;
$verde:rgba(98,125,77,1);


/*VARIABLES DE ESPACIO*/
$pd-5: 5%;
$mt-20: 20px;
$mt-porcent: 14%;

/*VARIABLES DE TEXTO*/
/*TAMAÑOS*/
$big: 45px;
$medium: 25px;
$large: 35px;


